﻿
<!doctype html>
<html lang="en">
<head>
     <link href="https://www.readytotravel.com/css/app.948641cf8661d0e370fd.css" rel="stylesheet">
</head>
<body>
    @*<noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div>*@
    <script type="text/javascript" src="https://www.readytotravel.com/js/app.948641cf8661d0e370fd.js"></script>
    
</body>
</html>